@import '../styles.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient($background-color, $background-color-secondary);
    background-position: center;
    background-size: cover;
}