<main>
    <div class='snow'>
        <div *ngFor='let snowflake of this.snowflakes' class='snowflake'>
            <!-- Contains snowflakes -->
        </div>
    </div>
    <section class='splash'>
        <img src='../../assets/pictures/splashImages/{{ this.views[viewIndex].image }}.svg' draggable='false'/>
        <h1 [innerHTML]='this.views[viewIndex].title'></h1>
        <p [innerHTML]='this.views[viewIndex].description'></p>
        <div class='context' *ngIf='this.views[viewIndex].context'>
            <div *ngIf='this.views[viewIndex].context?.letters' class='letters'>
                <span *ngFor='let letter of this.views[viewIndex].context.letters' class='noselect'>{{ letter }}</span>
            </div>
            <input type='text' placeholder='Antwoord' (keyup.enter)='this.submitAnswer($event)' />
        </div>
    </section>
    <section class='buttons'>
        <button
            [disabled]='this.viewIndex <= 0'
            (click)='changePage(-1)'
        >
            <mat-icon class='icon'>arrow_back</mat-icon>
        </button>
        <p class='noselect'>{{ this.viewIndex+1 }} / {{ this.views.length }}</p>
        <button
            [ngClass]='{ endButton: this.viewIndex == this.views.length-1 }'
            [disabled]='this.viewIndex >= this.views.length || !this.views[this.viewIndex].finished'
            (click)='changePage(1)'
        >
            <mat-icon class='icon'>arrow_forward</mat-icon>
        </button>
    </section>
    <!-- <section class='endInput'>
        <input type='text'>
    </section> -->
</main>
